body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	  color: #000;
      background-image: url(img2.webp);
      background-position: center;
      background-size: cover;
  }
  .form-box{
    position: relative;
    background: transparent;
    border: 2px solid #f3ccff;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  h1 {
    color: #000000;
    text-align: center;
  }
  h2 {
    color: #000000;
    text-align: center;
  }
  div {
    background-color: #fff;
    border: 1px solid #d09cfa;
    padding: 20px;
    margin: 20px;
  }
  input[type="text"], input[type="date"], select, button {
      margin: 5px;
      padding: 8px;
      border: 1px solid #d09cfa;
      border-radius: 4px;
    }
    button {
      background-color:#a555ec;
      color: #fff;
      cursor: pointer;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }
